<nav class="header">
  <div class="main" routerLink="/" routerLinkActive="active">Главная</div>
  <div class="search" routerLink="/search" routerLinkActive="active">Поиск</div>
</nav>
<router-outlet></router-outlet>