.header {
    display: flex;
    background-color: aliceblue;    
}

.main{
    width: 40%;
    font-size: 30px;
    padding: 15px;
}

.search{
    width: 25%;
    font-size: 20px;
    padding: 15px;
}

.main, .search {
    cursor: pointer;
}

