<div class="container">
    <div class="row">
        <mat-card class="card" *ngFor="let track of tracksList | async">
            <mat-card-header>
                <mat-card-title>Название трека: {{ track.name }}</mat-card-title>
                <mat-card-subtitle>Исполнитель: {{ track.artist.name }}</mat-card-subtitle>
            </mat-card-header>
            <img *ngIf="track.image.length>0" mat-card-image [src]="track.image['0']['#text']" [alt]="track.name">
            <mat-card-content><a [href]="track.artist.url" target="_blank">Ссылка на страницу исполнителя на сервисе
                    Last.fm</a></mat-card-content>
        </mat-card>
    </div>
</div>
