.container {
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    margin-bottom: 10px;
}

@media screen and (max-width:  500px ){
    .card {
        width: 90%;
    }
}