<div class="container">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()"> 
        <mat-form-field class="example-form-field">
        <mat-label>Text here</mat-label>
        <input matInput type="text"  type="text" id="trackName" formControlName="trackName">
      </mat-form-field>
      <button mat-button color="primary"type="submit">Submit</button>
    </form>
    <div *ngFor="let track of tracksList | async" class="track" class="track">
        <div >Название трека: {{track.name}}</div>
        <div>Исполнитель: {{track.artist}}</div>
    </div>
</div>
